<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
    
    <form class="contentRegister" method="post">
        <h1>Cadastre-se gratuitamente</h1>
        <div class="content">
        <label class="loginL">Nome::</label>
        <input class="loginI" type="text" name="name" placeholder="Digite seu nome completo">
        <label class="loginL">Email:</label>
        <input class="loginI" type="email" required name="email" placeholder="Digite seu Email">
        <label class="loginL">Senha:</label>
        <input class="loginI" type="password" required name="password" placeholder="Digite sua Senha">
        <button class="loginB" type="submit">Cadastrar</button>
      
    </div>
    </form>
</body>
</html>